<div class="wines-all-main">
  <div class="wines-container">
    <h1 class="wines-all-title"><%= @article.title %></h1>
    <div class="article-main">
      <p class="article-content"><%= @article.content %></p>
    </div>
    <%= link_to "BACK TO ARTICLES →", "/articles", class:"wines-all-button article-bottom" %>
  </div>
</div>
