.edit-submit{
  margin-top: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px;
}

.edit-preview{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wine-edit-top{
  justify-content: space-between;
}

@media only screen and (max-width: 600px){
  .edit-submit{
    font-size: 11px;
    margin-top: 8px;
    padding: 3px;
  }

  .wine-edit-top .wine-top-detail{
    width: 50%;
  }

  .edit-preview{
    width: 50%;
  }

  .edit-preview .form-image{
    font-size: 10px;
  }

  .wine-top-detail .form-input{
    font-size: 12px;
  }

  .wine-show-content>span{
    font-size: 8px;
  }

  .form-select{
    font-size: 9px;
  }

  .wine-show-content .form-comment{
    height: 50px;
  }

}