.wine-new-main{
  width: 100%;
  background-image: url("/images/vineyard.jpg");
  background-size: cover;
  background-color: rgba(255,255,255,.7);
  background-blend-mode: lighten;
  height: 100%;
  opacity: 0;
  animation: fade-down 1s ease-in-out 0s 1 normal forwards;
}

.wine-new-form{
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-new-form div {
  margin: 30px 0;
  font-weight: bold;
  font-size: 17px;
  color: brown;
}

.form-input{
  width: 57%;
  margin-top: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-select{
  width: 57%;
  height: 22px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
}

.form-submit{
  border: 1px solid black;
  border-radius: 5px;
  background-color: brown;
  color: white;
  font-size: 14px;
  padding: 8px;
}

.form-image{
  margin-top: 10px;
  color: black;
  font-size: 13px;
}

.highlight{
  color: white;
  margin-left: 8px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
  background-color: red;
}

.dependent{
  color: black;
  margin-left: 8px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
  background-color: lightgray;
}

.back-btn{
  text-decoration: none;
  background-color: lightgray;
  color: black;
}

.image-preview{
  display: flex;
}