.wine-new-look-main{
  width: 100%;
  background-image: url("/images/look.new.jpg");
  background-size: cover;
  background-color: rgba(255,255,255,.7);
  background-blend-mode: lighten;
  height: 100%;
}

.new-look-title{
  font-size: 18px;
  font-weight: bold;
}

.form-comment{
  width: 80%;
  height: 100px;
}

