.wine-show-main{
  margin: 50px 0;
  width: 100%;
  opacity: 0;
  animation: fade-down 1.5s ease-in-out .8s 1 normal forwards;
}

.wine-show-container{
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

.wine-show-top{
  width: 100%;
  display: flex;
  border-bottom: 1px solid gray;
  padding: 100px 0;
}

.wine-show-middle{
  width: 100%;
  height: 400px;
  display: flex;
}

.wine-show-bottom{
  width: 100%;
  display: flex;
  border-top: 1px solid gray;
  padding-top: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.wine-show-button{
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-top: 40px;
}

.wine-top-image{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-top-detail{
  height: 100%;
  width: 40%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.wine-show-image{
  width: 80%;
  height: 85%;
}

.edit-buttons{
  height: 15%;
  width: 60%;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
}

.destroy-button, .edit-button{
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px 6px;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  color: white;
  height: 50%;
  width: 25%;
  text-align: center;
  text-decoration: none;
}

.favorite-d-button{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background-color: brown;
  font-size: 16px;
  font-weight: bold;
  height: 50%;
}

.favorite-button{
  text-decoration: none;
  color: brown;
  border: 1px solid brown;
  border-radius: 6px;
  padding: 5px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  height: 50%;
}

.wine-show-heading{
  padding-bottom: 6px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  font-size: 18px;
}

.wine-show-contents{
  margin-top: 5px;
}

.wine-show-content{
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 14px;
}

.wine-show-name{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

.wine-show-content span{
  margin-left: 5px;
  font-size: 17px;
}

.wine-show-look{
  width: 60%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  text-align: center;
  margin-top: 15px;
}

.wine-show-look-image{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.wine-show-look-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wine-look-image{
  width: 100%;
  height: 80%;
  padding: 5px 0px;
}

.look-button{
  height: 10%;
}

.show-look-title{
  width: 18%;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 25px;
}

.show-flavor-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.show-taste-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.show-flavor-container{
  width: 50%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  text-align: center;
}

.show-taste-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.show-look-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-look-detail li{
  margin-bottom: 15px;
}

@media only screen and (max-width: 1024px){
  .wine-show-top{
    padding: 60px 0;
  }
}


@media only screen and (max-width: 600px){

  .wine-show-main{
    margin: 15px auto;
  }

  .wine-show-top{
    height: 300px;
    align-items: center;
    padding: 25px 0;
  }

  .wine-show-image{
    height: 70%;
  }

  .edit-button, .destroy-button{
    padding: 0;
  }

  .wine-show-name{
    font-size: 17px;
  }

  .wine-show-heading{
    font-size: 15px;
  }

  .wine-show-content, .wine-show-content>span{
    font-size: 11px;
  }

  .edit-button, .destroy-button{
    font-size: 11px;
  }

  .wine-show-middle{
    height: 300px;
  }

  .wine-show-look-container{
    justify-content: center;
  }

  .wine-show-look{
    justify-content: center;
  }

  .show-look-title{
    font-size: 16px;
    margin-bottom: 10px;
  }

  .wine-look-image{
    height: 65%;
  }

  .wine-show-bottom h2{
    font-size: 16px;
    margin-bottom: 10px;
  }

  .show-flavor-container{
    margin: 0 auto;
  }

  .show-taste-container{
    margin: 0 auto;
  }

  .wine-show-bottom{
    height: 250px;
  }

  .wine-show-button{
    font-size: 15px;
    margin-top: 15px;
  }

}