
.header-contents{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-top{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadein-right .8s ease-in-out .3s 1 normal forwards;
}

.header-logo{
  height: 60px;
  width: 70px;
}

.header-title{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: brown;
}

.header-menu{
  height: 60px;
  display: flex;
  align-items: center;
}

.header-left-contents{
  width: 90%;
}

.left-contents-menu{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.left-contents-menu :hover{
  border-bottom: 2px solid brown;
}

.left-contents-link {
  text-decoration: none;
  color: black;
}


.left-contents-item{
  font-size: 17px;
  font-weight: bold;
  padding-top: 15px;
}

.left-contents-fade{
  opacity: 0;
  animation: fade-down .8s ease-in-out .3s 1 normal forwards;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.user-menu-btn{
  opacity: 0;
  animation: fade .8s ease-in-out .3s 1 normal forwards;
}

.user-menu-btn :hover{
  cursor: pointer;
}

.fade-in-first{
  opacity: 0;
  animation: fade-menu .4s ease-in-out .2s 1 normal forwards;
}

.fade-in-second{
  opacity: 0;
  animation: fade-menu .4s ease-in-out .3s 1 normal forwards;
}

.fade-in-third{
  opacity: 0;
  animation: fade-menu .4s ease-in-out .4s 1 normal forwards;
}

.fade-in-fourth{
  opacity: 0;
  animation: fade-menu .4s ease-in-out .5s 1 normal forwards;
}

@keyframes fade-menu {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.menu-btn{
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
  background-color: brown;
  border-radius: 5px;
  border: none;
}

.menu-line-top {
  transform: translateY(-10px);
}

.menu-line-bottom {
  transform: translateY(10px);
}

.open-menu .menu-line-top{
  transform: rotate(45deg);
}

.open-menu .menu-line-middle{
  opacity: 0;
}

.open-menu .menu-line-bottom{
  transform: rotate(-45deg);
}

.menu-btn span{
  display: block;
  width: 80%;
  margin: auto;
  height: 4px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: calc((100% - 4px)/2);
  border-radius: 3px;
  transition: 0.8s;
}

.category-bar-none{
  display: none;
}

.category-bar{
  width: 100%;
  height: 390px;
  background-color: rgb(252, 240, 240);
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid white;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.category-bar nav {
  list-style: none;
}

.wine-grape{
  display: flex;
}

.category-bar h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-bar p {
  font-size: 15px;
  margin-bottom: 5px;
}


.wine-grape h2{
  font-weight: bold;
  margin-bottom: 10px;
}

.white-grape{
  margin-left: 15px;
  margin-top: 37px;
}