<footer class="footer-contents">
  <div class="footer-lists">
    <nav class="articles">
      <h2>テイスティングについて</h2>
      <p>記事一覧</p>
      <p>投稿一覧</p>
    </nav>
    <nav class="footer-country">
      <div class="country-half">
        <h2>生産国</h2>
        <p>フランス</p>
        <p>イタリア</p>
        <p>スペイン</p>
        <p>アメリカ</p>
        <p>チリ</p>
      </div>
      <div class="country-end">
        <p>オーストラリア</p>
        <p>ニュージーランド</p>
        <p>日本</p>
        <p>南アフリカ</p>
        <p>その他</p>
      </div>
    </nav>
    <nav class="footer-grape">
      <nav class="footer-red">
        <h2>品種</h2>
        <h3>黒ぶどう</h3>
        <p>カベルネ・ソーヴィニヨン</p>
        <p>メルロー</p>
        <p>ピノノワール</p>
        <p>シラー</p>
        <p>マルベック</p>
        <p>サンジョベーゼ</p>
        <p>テンプラニーリョ</p>
        <p>その他</p>
      </nav>
      <nav class="footer-white">
        <h3>白ぶどう</h3>
        <p>シャルドネ</p>
        <p>ソーヴィニヨン・ブラン</p>
        <p>リースリング</p>
        <p>ビオニエ</p>
        <p>甲州</p>
        <p>ゲヴェルツトラミネール</p>
        <p>ピノグリ</p>
        <p>その他</p>
      </nav>
    </nav>
  </div>
  <%= image_tag("wine.logo.jpg", class:"footer-logo") %>
  <h1 class="footer-title">Tasting Note</h1>
</footer>